@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;  
}
.header{
    border: 1px, solid, black;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

.main__contenedorSobremi{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    height: fit-content;
    background-color: white;
    margin-bottom: 5%;
}
.main__contenedorSobremi__parrafo{
    width: 50%;
    height: 50%;
    align-content: center;
}
.main__contenedorImg{
    margin-top: 5%;
    margin-bottom: 5%;
}


.main__contenedorGaleria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.main__contenedorGaleria__ImgIlu{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 1px black solid;
    margin-top:10px;
    border-radius: 20px;
}
.main__contenedorGaleria__ImgSeri{
    object-fit: cover;
    margin-top: 10px;
    width: 450px;
    height:450px;
}
.main__contenedorGaleria__ImgTatu{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    margin-top: 5%;
}
.main__boxVideo{
    text-align: center;
    margin-top: 5%;
}

.main__boxForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 5%;
}
.main__boxMap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainContacto{
    background-image: url(../assets/img/hghghghg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    display: flex;
    width: fit-content;
    height: fit-content;
}

.footer__boxIcon{
    display: inline-block;
    position: fixed;
    right: 0%;
    bottom: 0%;
}
.footer__boxIcon__icon{
    font-size: 3rem;
    color: black;
    display: inline-block;
}

.contenedorCentrar{
    margin-top: 5%;
}