@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300;1,500&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{ 
    font-size: 62.5%;
}

body{
    font-family: 'Rubik', sans-serif;  
}

.boxInicio{
    margin-left: 70%;
}
.linkNav{
    display: inline-block;
    color: black;
    list-style: none;
    text-decoration: none;
    font-size: medium;
}

.centrar{
    text-align: center;
    font-size: xx-large
}

.fondo{
    background-image: url(../assets/img/fondo\ definitivo.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh
}

.boxUno{
    background-color: black;
    display: inline-block;
    margin-top: 10vh;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: 10%;
    text-align: center;
}

.boxDos{
    background-color: black;
    display: inline-block;
    color: white;
    text-align: center;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: 10%
}

.boxTres{
    background-color: black;
    color: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.boxImg{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.boxSobremi{
    background-color: black;
    color: white;
    text-align: center;
    width: 50%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
}

.boxTatus{
    display: inline-block;
}
.boxVideo{
    background-color: black;
    color: white;
    text-align: center;
    font-size: small;
}

.icon{
    font-size: 3rem;
    color: black;
    display: inline-block;
}
.whatsapp{
    font-size: 3rem;
    color: green;
    display: inline-block;
}
.boxIcon{
    display: inline-block;
    position: fixed;
    right: 0%;
    bottom: 0%;
    background-color: white;
}
    
/*Buenas! Edité con css todas las páginas
capaz centrarse en la de "Tatuajes" es mejor porque esta mas completa y tiene la parte del video. Gracias!*/


