@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  font-family: "Castoro Titling", cursive;
  border: 1px, solid, black;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}
header .contenedorLogo {
  margin-top: 1%;
  height: fit-content;
}
header .contenedorLogo .imgLogo {
  width: 140px;
  height: 60px;
}
header .contenedorNav {
  height: fit-content;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Castoro Titling", cursive;
  font-family: "Source Serif Pro", serif;
}
body .mainInicio {
  background-color: white;
}
body .mainInicio .titulos__tamaño {
  width: 400px;
  height: 400px;
  margin-bottom: 15%;
}
body .mainInicio .carrusel {
  margin-bottom: 15%;
  height: 100vh;
}
body .mainInicio .contenedorSobremi {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 15%;
}
body .mainInicio .contenedorSobremi .contenedorSobremi__parrafo {
  font-family: "Source Serif Pro", serif;
  font-size: xx-large;
  width: 50%;
  height: 50vh;
  align-content: center;
  margin-top: 2%;
}
body .mainInicio .contenedorSobremi .titulos {
  font-family: "Castoro Titling", cursive;
}
body .mainInicio .cards {
  margin-bottom: 15%;
}
body .mainInicio .cards .card {
  width: 18rem;
}
body .mainInicio .contenedorGaleriaInicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .mainInicio .contenedorGaleriaInicio .imgInicio {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 10px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  body {
    font-family: "Castoro Titling", cursive;
    font-family: "Source Serif Pro", serif;
  }
  body .mainInicio {
    width: 100vw;
    overflow-x: hidden;
    background-color: white;
  }
  body .mainInicio .titulos__tamaño {
    width: 300px;
    height: 300px;
    margin-bottom: 30%;
  }
  body .mainInicio .carrusel {
    margin-bottom: 30%;
  }
  body .mainInicio .contenedorSobremi {
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin-bottom: 30%;
  }
  body .mainInicio .contenedorSobremi .titulos {
    font-family: "Castoro Titling", cursive;
    justify-content: center;
  }
  body .mainInicio .contenedorSobremi .contenedorSobremi__parrafo {
    width: 95%;
    height: fit-content;
    font-family: "Source Serif Pro", serif;
    font-size: x-large;
    justify-content: center;
  }
  body .mainInicio .cards {
    margin-bottom: 30%;
  }
  body .mainInicio .contenedorGaleriaInicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .mainInicio .contenedorGaleriaInicio .imgInicio {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 10px;
  }
}
body {
  font-family: "Castoro Titling", cursive;
  font-family: "Source Serif Pro", serif;
  background-color: white;
}
body .mainIlustracion .titulos__tamaño {
  width: 400px;
  height: 400px;
  margin-bottom: 15%;
}
body .mainIlustracion .sectionIlu .textos {
  justify-content: center;
  width: 70%;
  margin-bottom: 15%;
}
body .mainIlustracion .sectionIlu .textos .titulos {
  font-family: "Castoro Titling", cursive;
  justify-content: center;
}
body .mainIlustracion .sectionIlu .textos .parrafo {
  font-family: "Source Serif Pro", serif;
  font-size: x-large;
  justify-content: center;
}
body .mainIlustracion .contenedorGaleria, body .mainIlustracion .mainTatuajes .contenedorGaleriados, body .mainTatuajes .mainIlustracion .contenedorGaleriados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body .mainIlustracion .contenedorGaleria .ImgIlu, body .mainIlustracion .mainTatuajes .contenedorGaleriados .ImgIlu, body .mainTatuajes .mainIlustracion .contenedorGaleriados .ImgIlu {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 1px black solid;
  margin-top: 10px;
  border-radius: 20px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  body {
    font-family: "Castoro Titling", cursive;
    font-family: "Source Serif Pro", serif;
    background-color: white;
  }
  body .mainIlustracion {
    width: 100vw;
    overflow-x: hidden;
  }
  body .mainIlustracion .contenedorLogo {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  body .mainIlustracion .titulos__tamaño {
    width: 300px;
    height: 300px;
    margin-bottom: 30%;
  }
  body .mainIlustracion .sectionIlu .textos {
    margin-bottom: 30%;
    width: 95%;
    height: fit-content;
  }
  body .mainIlustracion .sectionIlu .textos .titulos {
    font-family: "Castoro Titling", cursive;
  }
  body .mainIlustracion .sectionIlu .textos .parrafo {
    font-family: "Source Serif Pro", serif;
    font-size: x-large;
  }
  body .mainIlustracion .contenedorGaleria, body .mainIlustracion .mainTatuajes .contenedorGaleriados, body .mainTatuajes .mainIlustracion .contenedorGaleriados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  body .mainIlustracion .contenedorGaleria .ImgIlu, body .mainIlustracion .mainTatuajes .contenedorGaleriados .ImgIlu, body .mainTatuajes .mainIlustracion .contenedorGaleriados .ImgIlu {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px black solid;
    margin-top: 10px;
    border-radius: 20px;
  }
}
body .mainSerigrafia {
  font-family: "Castoro Titling", cursive;
  font-family: "Source Serif Pro", serif;
  background-color: white;
}
body .mainSerigrafia .titulos__tamaño {
  width: 400px;
  height: 400px;
  margin-bottom: 15%;
}
body .mainSerigrafia .textos {
  margin-bottom: 15%;
  width: 50%;
  margin-left: 10%;
  margin-right: 5%;
}
body .mainSerigrafia .textos .titulos {
  font-family: "Castoro Titling", cursive;
}
body .mainSerigrafia .textos .parrafo {
  font-family: "Source Serif Pro", serif;
  font-size: xx-large;
}
body .mainSerigrafia .seriTamaño {
  width: 200px;
  height: 300px;
  margin-top: 10%;
}
body .mainSerigrafia .contenedorGaleria, body .mainSerigrafia .mainTatuajes .contenedorGaleriados, body .mainTatuajes .mainSerigrafia .contenedorGaleriados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body .mainSerigrafia .contenedorGaleria .ImgSeri, body .mainSerigrafia .mainTatuajes .contenedorGaleriados .ImgSeri, body .mainTatuajes .mainSerigrafia .contenedorGaleriados .ImgSeri {
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10%;
  width: 450px;
  height: 450px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  body .mainSerigrafia {
    width: 100vw;
    overflow-x: hidden;
    font-family: "Castoro Titling", cursive;
    font-family: "Source Serif Pro", serif;
    background-color: white;
  }
  body .mainSerigrafia .titulos__tamaño {
    width: 300px;
    height: 300px;
    margin-bottom: 30%;
  }
  body .mainSerigrafia .textos {
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 30%;
    justify-content: center;
    width: 95%;
  }
  body .mainSerigrafia .textos .titulos {
    font-family: "Castoro Titling", cursive;
    justify-content: center;
  }
  body .mainSerigrafia .textos .parrafo {
    font-family: "Source Serif Pro", serif;
    font-size: x-large;
    justify-content: center;
  }
  body .mainSerigrafia .titulos {
    font-family: "Castoro Titling", cursive;
    justify-content: center;
  }
  body .mainSerigrafia .parrafo {
    font-family: "Source Serif Pro", serif;
    font-size: x-large;
    justify-content: center;
  }
  body .mainSerigrafia .seriTamaño {
    width: 200px;
    height: 200px;
    margin-bottom: 10%;
  }
  body .mainSerigrafia .contenedorGaleria, body .mainSerigrafia .mainTatuajes .contenedorGaleriados, body .mainTatuajes .mainSerigrafia .contenedorGaleriados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
  }
  body .mainSerigrafia .contenedorGaleria .ImgSeri, body .mainSerigrafia .mainTatuajes .contenedorGaleriados .ImgSeri, body .mainTatuajes .mainSerigrafia .contenedorGaleriados .ImgSeri {
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
  }
}
body {
  font-family: "Castoro Titling", cursive;
  font-family: "Source Serif Pro", serif;
  background-color: white;
}
body .mainTatuajes .titulos__tamaño {
  width: 400px;
  height: 400px;
  margin-bottom: 15%;
}
body .mainTatuajes .titulotatu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}
body .mainTatuajes .titulotatu .titulo {
  font-family: "Castoro Titling", cursive;
}
body .mainTatuajes .contenedorGaleria, body .mainTatuajes .contenedorGaleriados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 15%;
}
body .mainTatuajes .contenedorGaleria .ImgTatu, body .mainTatuajes .contenedorGaleriados .ImgTatu {
  width: 400px;
  height: 400px;
  margin-top: 5%;
  border: 1px black solid;
  border-radius: 20px;
}
body .mainTatuajes .cardCuidados {
  margin-bottom: 2%;
}
body .mainTatuajes .cardCuidados .cardCuidados__parrafo, body .mainTatuajes .cardCuidados .nohacer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: fit-content;
  text-align: center;
}
body .mainTatuajes .cardCuidados .cardCuidados__parrafo .titulo, body .mainTatuajes .cardCuidados .nohacer .titulo {
  font-family: "Castoro Titling", cursive;
}
body .mainTatuajes .cardCuidados .cardCuidados__parrafo .parrafo, body .mainTatuajes .cardCuidados .nohacer .parrafo {
  font-family: "Source Serif Pro", serif;
  font-size: xx-large;
}
body .mainTatuajes .listaItemolDos {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 15%;
}
body .mainTatuajes .listaItemolDos .listaItemliDos {
  font-family: "Source Serif Pro", serif;
  font-size: x-large;
  margin-top: 2%;
  margin-bottom: 2%;
}
body .mainTatuajes .nohacerTitulo {
  display: flex;
  justify-content: center;
  font-family: "Castoro Titling", cursive;
}
body .mainTatuajes .nohacer {
  width: 100%;
  margin-bottom: 15%;
}
body .mainTatuajes .nohacer .listaItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  font-size: x-large;
}
body .mainTatuajes .contenedorGaleriados .imgTatudos {
  width: 300px;
  height: 300px;
  border: 1px black solid;
  border-radius: 20px;
  margin-top: 5%;
}
body .mainTatuajes .boxVideo {
  text-align: center;
}
body .mainTatuajes .boxVideo .videoParrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: fit-content;
  text-align: center;
  font-family: "Castoro Titling", cursive;
  font-size: x-large;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  body {
    font-family: "Castoro Titling", cursive;
    font-family: "Source Serif Pro", serif;
    background-color: white;
  }
  body .mainTatuajes {
    width: 100vw;
    overflow-x: hidden;
  }
  body .mainTatuajes .titulos__tamaño {
    width: 300px;
    height: 300px;
    margin-bottom: 30%;
  }
  body .mainTatuajes .contenedorGaleria, body .mainTatuajes .contenedorGaleriados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30%;
  }
  body .mainTatuajes .contenedorGaleria .ImgTatu, body .mainTatuajes .contenedorGaleriados .ImgTatu {
    width: 250px;
    height: 250px;
    margin-top: 5%;
    border: 1px black solid;
    border-radius: 20px;
  }
  body .mainTatuajes .cardCuidados {
    width: 95%;
    margin-bottom: 2%;
  }
  body .mainTatuajes .cardCuidados .cardCuidados__parrafo, body .mainTatuajes .cardCuidados .nohacer {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  body .mainTatuajes .cardCuidados .cardCuidados__parrafo .titulo, body .mainTatuajes .cardCuidados .nohacer .titulo {
    font-family: "Castoro Titling", cursive;
  }
  body .mainTatuajes .cardCuidados .cardCuidados__parrafo .parrafo, body .mainTatuajes .cardCuidados .nohacer .parrafo {
    font-family: "Source Serif Pro", serif;
    font-size: x-large;
  }
  body .mainTatuajes .sectionNohacer {
    width: 99%;
    padding: 0%;
    margin: 0%;
    margin-top: 30%;
    margin-bottom: 30%;
  }
  body .mainTatuajes .sectionNohacer .nohacerTitulo {
    margin: 0%;
    font-family: "Castoro Titling", cursive;
  }
  body .mainTatuajes .listaItemolDos {
    padding: 0%;
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
  }
  body .mainTatuajes .listaItemolDos .listaItemliDos {
    align-items: center;
    font-family: "Source Serif Pro", serif;
    font-size: x-large;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  body .mainTatuajes .contenedorGaleriados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  body .mainTatuajes .contenedorGaleriados .imgTatudos {
    width: 300px;
    height: 300px;
    border: 1px black solid;
    border-radius: 20px;
    margin-top: 5%;
  }
  body .mainTatuajes .boxVideo {
    text-align: center;
    margin-top: 5%;
  }
  body .mainTatuajes .boxVideo .videoParrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: fit-content;
    text-align: center;
    font-family: "Castoro Titling", cursive;
    font-size: x-large;
    margin-top: 15%;
  }
}
body {
  font-family: "Castoro Titling", cursive;
  font-family: "Source Serif Pro", serif;
  background-color: white;
}
body .mainContacto .titulos__tamaño {
  width: 400px;
  height: 400px;
  margin-bottom: 15%;
}
body .mainContacto .contenedorCentrar .titulo {
  font-family: "Castoro Titling", cursive;
  font-size: xx-large;
}
body .mainContacto .divContacto {
  background-image: url(../assets/img/hghghghg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .mainContacto .divContacto .formulario {
  align-items: center;
}
body .mainContacto .divContacto .formulario .formularioContenido {
  width: 50%;
  font-family: "Castoro Titling", cursive;
}
body .mainContacto .divContacto .formulario .button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-family: "Castoro Titling", cursive;
}
body .mainContacto .divContacto .boxMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
body .mainContacto .divContacto .boxMap .mapa {
  width: 80%;
  height: 40vh;
  border: 0;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  body {
    font-family: "Castoro Titling", cursive;
    font-family: "Source Serif Pro", serif;
    background-color: white;
  }
  body .mainContacto {
    width: 100vw;
    overflow-x: hidden;
  }
  body .mainContacto .titulos__tamaño {
    width: 300px;
    height: 300px;
    margin-bottom: 30%;
  }
  body .mainContacto .contenedorCentrar {
    margin: 0%;
  }
  body .mainContacto .contenedorCentrar .titulo {
    font-family: "Castoro Titling", cursive;
    font-size: x-large;
    display: flex;
    justify-content: center;
  }
  body .mainContacto .divContacto {
    background-image: url(../assets/img/hghghghg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body .mainContacto .divContacto .formulario .formularioContenido {
    width: 80%;
  }
  body .mainContacto .divContacto .boxMap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    width: 400;
    height: 200;
  }
}
footer {
  font-family: "Castoro Titling", cursive;
}
footer .contenedorLogo {
  margin-top: 1%;
  height: fit-content;
}
footer .contenedorLogo .imgLogo {
  width: 140px;
  height: 60px;
}
footer .boxIcon__uno {
  font-size: 3rem;
}
footer .boxIcon__uno .icon {
  color: #766e6e;
}
footer .boxIcon__uno .iconMid {
  color: #766e6e;
  margin-left: 2%;
  margin-right: 2%;
}
footer .boxIcon__dos {
  display: inline-block;
  position: fixed;
  right: 0%;
  bottom: 0%;
}
footer .boxIcon__dos .iconDos {
  font-size: 3rem;
  color: #367240;
  display: inline-block;
}

body {
  font-family: "Castoro Titling", cursive;
  font-family: "Source Serif Pro", serif;
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
body .main404 {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
body .main404 .row .contenedorTexto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .main404 .row .contenedorTexto .tituloError {
  font-family: "Castoro Titling", cursive;
  font-size: 70px;
}
body .main404 .row .contenedorTexto .textoError {
  font-family: "Source Serif Pro", serif;
  font-size: 50px;
  margin-left: 15%;
}
body .main404 .row .imgError {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: white;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  body {
    font-family: "Castoro Titling", cursive;
    font-family: "Source Serif Pro", serif;
    background-color: white;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  body .main404 {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  body .main404 .row .contenedorTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body .main404 .row .contenedorTexto .tituloError {
    font-family: "Castoro Titling", cursive;
    font-size: 50px;
    margin-top: 15%;
  }
  body .main404 .row .contenedorTexto .textoError {
    font-family: "Source Serif Pro", serif;
    font-size: 30px;
    margin-left: 15%;
  }
  body .main404 .row .imgError {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: white;
    margin-top: 15%;
  }
}

/*# sourceMappingURL=styles.css.map */
