@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  font-family: "Castoro Titling", cursive;
  border: 1px, solid, black;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}
header .contenedorLogo {
  margin-top: 2%;
  margin-bottom: 2%;
}

body {
  width: 100vw;
  overflow-x: hidden;
}
body .mainInicio {
  font-family: "Castoro Titling", cursive;
  background-color: white;
}
body .mainInicio .titulos__tamaño {
  width: 600px;
  height: 600px;
}
body .mainInicio .contenedorSobremi {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 15%;
  margin-top: 15%;
}
body .mainInicio .contenedorSobremi .contenedorSobremi__parrafo {
  width: 50%;
  height: 50%;
  align-content: center;
  font-size: larger;
  margin-top: 2%;
}
body .mainInicio .cards {
  margin-bottom: 15%;
}
body .mainInicio .contenedorGaleriaInicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .mainInicio .contenedorGaleriaInicio .imgInicio {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 10px;
}

body {
  font-family: "Castoro Titling", cursive;
  background-color: white;
}
body .mainIlustracion {
  font-family: "Castoro Titling", cursive;
  background-color: white;
}
body .mainIlustracion .titulos__tamaño {
  width: 600px;
  height: 600px;
}
body .mainIlustracion .contenedorLogo {
  margin-top: 2%;
  margin-bottom: 2%;
}
body .mainIlustracion .textos {
  margin-top: 5%;
  margin-bottom: 15%;
  font-size: large;
  width: 50%;
}
body .mainIlustracion .contenedorGaleria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body .mainIlustracion .contenedorGaleria .ImgIlu {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 1px black solid;
  margin-top: 10px;
  border-radius: 20px;
}

body .mainSerigrafia {
  font-family: "Castoro Titling", cursive;
  background-color: white;
}
body .mainSerigrafia .titulos__tamaño {
  width: 600px;
  height: 600px;
}
body .mainSerigrafia .textos {
  margin-top: 5%;
  margin-bottom: 15%;
  font-size: large;
  width: 50%;
  margin-left: 10%;
  margin-right: 5%;
}
body .mainSerigrafia .seriTamaño {
  width: 200px;
  height: 300px;
}
body .mainSerigrafia .contenedorGaleria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body .mainSerigrafia .contenedorGaleria .ImgSeri {
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10%;
  width: 450px;
  height: 450px;
}

body .mainTatuajes {
  font-family: "Castoro Titling", cursive;
  background-color: pink;
}
body .mainTatuajes .titulos__tamaño {
  width: 600px;
  height: 600px;
}
body .mainTatuajes .contenedorGaleria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body .mainTatuajes .contenedorGaleria .ImgTatu {
  width: 300px;
  height: 300px;
  margin-top: 5%;
}
body .mainTatuajes .cardCuidados {
  margin-top: 15%;
  margin-bottom: 2%;
}
body .mainTatuajes .cardCuidados .cardCuidados__parrafo, body .mainTatuajes .cardCuidados .nohacer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: fit-content;
  text-align: center;
}
body .mainTatuajes .listaItem {
  background-color: pink;
}
body .mainTatuajes .nohacerTitulo {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
body .mainTatuajes .nohacer {
  width: 100%;
  background-image: url(../assets/img/hghghghg.jpeg);
}
body .mainTatuajes .nohacer .listaItem {
  background-color: pink;
}
body .mainTatuajes .boxVideo {
  text-align: center;
  margin-top: 5%;
}
body .mainTatuajes .boxVideo .videoParrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: fit-content;
  text-align: center;
  font-size: large;
  margin-top: 15%;
}

body .mainContacto {
  font-family: "Castoro Titling", cursive;
  background-color: white;
}
body .mainContacto .titulos__tamaño {
  width: 600px;
  height: 600px;
}
body .mainContacto .contenedorCentrar {
  margin-top: 5%;
}
body .mainContacto .sectionContacto {
  background-image: url(../assets/img/hghghghg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .mainContacto .sectionContacto .boxForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  margin-bottom: 5%;
}
body .mainContacto .sectionContacto .boxMap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .logo {
  margin-top: 2%;
  margin-bottom: 2%;
}
footer .boxIcon__uno {
  font-size: 3rem;
}
footer .boxIcon__uno .icon {
  color: #766e6e;
}
footer .boxIcon__dos {
  display: inline-block;
  position: fixed;
  right: 0%;
  bottom: 0%;
}
footer .boxIcon__dos .iconDos {
  font-size: 3rem;
  color: #367240;
  display: inline-block;
}

/*# sourceMappingURL=styles.css.map */
