body {
    .mainContacto {
        font-family: $font;
        background-color: $backgroundcolor;
        
        .titulos__tamaño {
            @include sizes (600px,600px);
        }

        .contenedorCentrar {
            margin-top: 5%;
        }

        .sectionContacto {
            background-image: url(../assets/img/hghghghg.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .boxForm {
                display: map-get($map: $flexelements, $key: flex);
                flex-direction: map-get($map: $flexelements, $key: column);
                align-items: center;
                margin-top: 15%;
                margin-bottom: 5%;
            }

            .boxMap {
                display: map-get($map: $flexelements, $key: flex);
                flex-direction: map-get($map: $flexelements, $key: column);
                align-items: center;
            }
        }

    }
}