body {
    font-family: 'Castoro Titling', cursive;
    font-family: 'Source Serif Pro', serif;
    background-color: $backgroundcolor;
    .mainContacto {
    
        .titulos__tamaño {
            @include sizes (400px,400px);
            margin-bottom: 15%;
        }
        .contenedorCentrar {
            .titulo{
                font-family: $fonttitulo;
                font-size: xx-large;
            }
        }

        .divContacto {
            background-image: url(../assets/img/hghghghg.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .boxForm {
                display: map-get($map: $flexelements, $key: flex);
                flex-direction: map-get($map: $flexelements, $key: column);
                align-items: center;
                margin-top: 15%;
                margin-bottom: 5%;
            }

            .boxMap {
                display: map-get($map: $flexelements, $key: flex);
                flex-direction: map-get($map: $flexelements, $key: column);
                align-items: center;
            }
        }

    }
}
@media screen and (min-width: 0px) and (max-width: 768px){
    body {
        font-family: 'Castoro Titling', cursive;
        font-family: 'Source Serif Pro', serif;
        background-color: $backgroundcolor;
        .mainContacto {
            width: 100vw;
            overflow-x: hidden;
            .titulos__tamaño {
                @include sizes (300px,300px);
                margin-bottom: 30%;
            }
            .contenedorCentrar {
                margin: 0%;
                .titulo{
                    font-family: $fonttitulo;
                    font-size: x-large;
                    display: flex;
                    justify-content: center;
                }
            }
            .divContacto {
                background-image: url(../assets/img/hghghghg.jpeg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
    
                .boxForm {
                    display: map-get($map: $flexelements, $key: flex);
                    flex-direction: map-get($map: $flexelements, $key: column);
                    align-items: center;
                    margin-top: 15%;
                    margin-bottom: 5%;
                }
    
                .boxMap {
                    display: map-get($map: $flexelements, $key: flex);
                    flex-direction: map-get($map: $flexelements, $key: column);
                    align-items: center;
                }
            }
    
        }
    }
}