footer{
    .logo{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .boxIcon__uno{
        font-size: 3rem;
    }
    .boxIcon__dos{
        display: inline-block;
        position: fixed;
        right: 0%;
        bottom: 0%;
    }
    .boxIcon__icon__dos{
        font-size: 3rem;
        display: inline-block;
    }
}