footer{
    font-family: $fonttitulo;
    .contenedorLogo{
        margin-top: 1%;
        height: fit-content;
        .imgLogo{
            width: 140px;
            height: 60px;
        }
    }
    .boxIcon__uno{
        font-size: 3rem;
        .icon{
            color: $coloricon;
        }
        .iconMid{
            color: $coloricon;
            margin-left: 2%;
            margin-right: 2%;
        }
    }
    .boxIcon__dos{
        display: inline-block;
        position: fixed;
        right: 0%;
        bottom: 0%;
        .iconDos{
            font-size: 3rem;
            color: $coloricondos;
            display: inline-block;
        }
    }
}