header{
    font-family: $fonttitulo;
    border: 1px, solid, black;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    .contenedorLogo{
        margin-top: 1%;
        height: fit-content;
        .imgLogo{
            width: 140px;
            height: 60px;
        }
    }
    .contenedorNav{
        height: fit-content;
    }
}

