header{
    font-family: $fonttitulo;
    border: 1px, solid, black;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    .contenedorLogo{
        margin-top: 2%;
        margin-bottom: 2%;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px){
 header{
    width: 100vw;
    .contenedorLogo{
        width: 90%;
    }
    
    .contenedorNav{
        width: 90%;
    }
 }   
}