body {
    font-family: 'Castoro Titling', cursive;
    font-family: 'Source Serif Pro', serif;
    background-color: $backgroundcolor;
        
    .mainIlustracion {
        .titulos__tamaño {
            @include sizes (400px,400px);
            margin-bottom: 15%;
        }
        .sectionIlu{
            .textos {
                justify-content: center;
                width: 70%;
                margin-bottom: 15%;
                    .titulos{
                        font-family: $fonttitulo;
                        justify-content: center;
                    }
                    .parrafo{
                        font-family: $fonttextos;
                        font-size: x-large;  
                        justify-content: center
                    }
            }
        }
        .contenedorGaleria {
            display: map-get($map: $flexelements, $key: flex);
            flex-wrap: wrap;
            justify-content: map-get($map: $flexelements, $key: space-evenly);

            .ImgIlu {
                @include sizes (400px,400px);
                object-fit: cover;
                border: 1px black solid;
                margin-top: 10px;
                border-radius: 20px;
            }
        }
    }
}
@media screen and (min-width: 0px) and (max-width: 768px){
    body {
        font-family: 'Castoro Titling', cursive;
        font-family: 'Source Serif Pro', serif;
        background-color: $backgroundcolor;
        .mainIlustracion {
            width: 100vw;
            overflow-x: hidden;
            .contenedorLogo {
                margin-top: 2%;
                margin-bottom: 2%;
            }

            .titulos__tamaño {
                @include sizes (300px,300px);
                margin-bottom: 30%;
            }
            .sectionIlu{
                .textos {
                    margin-bottom: 30%;
                    width: 95%;
                    height: fit-content;
                    .titulos{
                        font-family: $fonttitulo;
                    }
                    .parrafo{
                        font-family: $fonttextos;
                        font-size: x-large;  
                    }
                }
            }
            .contenedorGaleria {
                display: map-get($map: $flexelements, $key: flex);
                flex-wrap: wrap;
                justify-content: map-get($map: $flexelements, $key: space-evenly);
    
                .ImgIlu {
                    @include sizes (300px,300px);
                    object-fit: cover;
                    border: 1px black solid;
                    margin-top: 10px;
                    border-radius: 20px;
                }
            }
        }
    }
}
