main{
    .titulos__tamaño{
        width: 600px;
        height: 600px;
    }
    .contenedorSobremi{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        height: fit-content;
        margin-bottom: 15%;
        margin-top: 15%;
        .contenedorSobremi__parrafo{
            width: 50%;
            height: 50%;
            align-content: center;
            font-size: larger;
            margin-top: 2%;
        }
    }

    .cards{
        margin-bottom: 15%;
    }
    .contenedorGaleriaInicio{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .imgInicio{
            width: 300px;
            height: 300px;
            object-fit: cover;   
            margin-top:10px;
        }
    }
}