body {
    width: 100vw;
    overflow-x: hidden;

    .mainInicio {
        font-family: $font;
        background-color: $backgroundcolor;

        .titulos__tamaño {
            @include sizes (600px,600px);
        }

        .contenedorSobremi {
            display: map-get($map: $flexelements, $key: flex);
            flex-direction:map-get($map: $flexelements, $key: column);
            align-items: center;
            text-align: center;
            @include sizes (100%,fit-content);
            margin-bottom: 15%;
            margin-top: 15%;

            .contenedorSobremi__parrafo {
                @include sizes (50%,50%);
                align-content: center;
                font-size: larger;
                margin-top: 2%;
            }
        }

        .cards {
            margin-bottom: 15%;
        }

        .contenedorGaleriaInicio {
            display: map-get($map: $flexelements, $key: flex);
            flex-wrap: wrap;
            justify-content: center;

            .imgInicio {
                @include sizes (300px,300px);
                object-fit: cover;
                margin-top: 10px;
            }
        }

    }
}