body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Source Serif Pro', serif;
    .mainInicio {
        background-color: $backgroundcolor;

        .titulos__tamaño {
            @include sizes (400px,400px);
            margin-bottom: 15%;
        }

        .carrusel{
            margin-bottom: 15%;
            height: 80vh;
            .carruselImg{
                height: 80vh;
            }
        }

        .contenedorSobremi {
            display: map-get($map: $flexelements, $key: flex);
            flex-direction:map-get($map: $flexelements, $key: column);
            align-items: center;
            text-align: center;
            @include sizes (100%,fit-content);
            margin-bottom: 15%;

            .contenedorSobremi__parrafo {
                font-family:  $fonttextos;
                font-size: xx-large;
                @include sizes (50%,50vh);
                align-content: center;
                margin-top: 2%;
            }
            .titulos{
                font-family: $fonttitulo;
            }
        }

        .cards {
            margin-bottom: 15%;
            .card{
                width: 18rem;
                .cardImg{
                    @include sizes (100%,75%);
                }
                .cardTitle{
                    font-family: $fonttitulo;
                }
                .cardBody{
                    text-decoration: none;
                    color: black;
                    font-size: medium;
                }
                .cardBody:hover{
                    color: violet;
                }
                
            }
        }

        .contenedorGaleriaInicio {
            display: map-get($map: $flexelements, $key: flex);
            flex-wrap: wrap;
            justify-content: center;

            .imgInicio {
                @include sizes (300px,300px);
                object-fit: cover;
                margin-top: 10px;
            }
        }

    }
}
@media screen and (min-width: 0px) and (max-width: 768px){
    body {
        font-family: 'Castoro Titling', cursive;
        font-family: 'Source Serif Pro', serif;
        .mainInicio {
            width: 100vw;
            overflow-x: hidden;
            background-color: $backgroundcolor;
    
            .titulos__tamaño {
                @include sizes (300px,300px);
                margin-bottom: 30%;
            }
            .carrusel{
                margin-bottom: 30%;
                height: 30vh;
                .carruselImg{
                    height: fit-content;
                }
            }
            .contenedorSobremi {
                justify-content: center;
                width: 100%;
                height: fit-content;
                padding: 0%;
                margin-bottom: 30%;
                    .titulos{
                        font-family: $fonttitulo;
                        justify-content: center;
                    }
                    .contenedorSobremi__parrafo{
                        width: 95%;
                        height: fit-content;
                        font-family: $fonttextos;
                        font-size: x-large;  
                        justify-content: center;
                    }
            }

            .cards{
                margin-bottom: 30%;
            }
            
             .contenedorGaleriaInicio {
                display: map-get($map: $flexelements, $key: flex);
                flex-wrap: wrap;
                justify-content: center;
    
                .imgInicio {
                    @include sizes (300px,300px);
                    object-fit: cover;
                    margin-top: 10px;
                }
            }
    
        }
    }
}