body {
    .mainSerigrafia {
        font-family: $font;
        background-color: $backgroundcolor;

        .titulos__tamaño {
            width: 600px;
            height: 600px;
        }

        .textos {
            margin-top: 5%;
            margin-bottom: 15%;
            font-size: large;
            width: 50%;
            margin-left: 10%;
            margin-right: 5%;
        }

        .seriTamaño {
            width: 200px;
            height: 300px;
        }

        .contenedorGaleria {
            display: map-get($map: $flexelements, $key: flex);
            flex-wrap: wrap;
            justify-content: map-get($map: $flexelements, $key: space-evenly);

            .ImgSeri {
                object-fit: cover;
                margin-top: 10px;
                margin-bottom: 10%;
                width: 450px;
                height: 450px;
            }
        }
    }
}