main{
    .titulos__tamaño{
        width: 600px;
        height: 600px;
    }
    .textos{
        margin-top: 5%;
        margin-bottom: 15%;
        font-size: large;
        width: 50%;
        margin-left: 10%;
        margin-right: 5%;
    }
    .seriTamaño{
        width: 200px;
        height: 300px;
    }
    .contenedorGaleria{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .ImgSeri{
            object-fit: cover;
            margin-top: 10px;
            width: 450px;
            height:450px;
            margin-bottom: 10%;
        }
    }
}