body {

    .mainTatuajes {
        font-family: $font;
        background-color: $backgroundcolor;

        .titulos__tamaño {
            @include sizes (600px, 600px);
        }

        .contenedorGaleria {
            display: map-get($map: $flexelements, $key: flex);
            flex-wrap: wrap;
            justify-content: map-get($map: $flexelements, $key: space-evenly);

            .ImgTatu {
                @include sizes (400px, 400px);
                margin-top: 5%;
                border: 1px black solid;
                border-radius: 20px;
            }
        }

        .cardCuidados {
            margin-top: 15%;
            margin-bottom: 2%;

            .cardCuidados__parrafo {
                display: map-get($map: $flexelements, $key: flex);
                flex-direction: map-get($map: $flexelements, $key: column);
                align-items: center;
                @include sizes (50%, fit-content);
                text-align: center;
            }
        }

        .titulotatu {
            display: map-get($map: $flexelements, $key: flex);
            flex-direction: map-get($map: $flexelements, $key: column);
            align-items: center;
            font-size: small;
            margin-top: 10%;
        }

        .listaItem {

            display: map-get($map: $flexelements, $key: flex);
            flex-direction: map-get($map: $flexelements, $key: row);
            width: 100%;
            justify-content: map-get($map: $flexelements, $key: space-evenly);
        }

        .listaItemolDos {
            display: map-get($map: $flexelements, $key: flex);
            flex-direction: map-get($map: $flexelements, $key: column);
            width: 90%;
            margin-top: 2%;
            margin-bottom: 2%;
        }

        .nohacerTitulo {
            display: map-get($map: $flexelements, $key: flex);
            justify-content: center;
            margin-top: 10%
        }

        .nohacer {
            @extend .cardCuidados__parrafo;
            width: 100%;
        }

        .contenedorGaleriados {
            @extend .contenedorGaleria;

            .imgTatudos {
                @include sizes (300px, 300px);
                border: 1px black solid;
                border-radius: 20px;
                margin-top: 5%;
            }
        }

        .boxVideo {
            text-align: center;
            margin-top: 5%;

            .videoParrafo {
                display: map-get($map: $flexelements, $key: flex);
                flex-direction: map-get($map: $flexelements, $key: column);
                align-items: center;
                @include sizes (50%, fit-content);
                text-align: center;
                font-size: large;
                margin-top: 15%;
            }
        }
    }
}