body {
    font-family: 'Castoro Titling', cursive;
    font-family: 'Source Serif Pro', serif;
    background-color: $backgroundcolor;
    .mainTatuajes {
        .titulos__tamaño {
            @include sizes (400px, 400px);
            margin-bottom: 15%;
        }
        .titulotatu {
            display: map-get($map: $flexelements, $key: flex);
            flex-direction: map-get($map: $flexelements, $key: column);
            align-items: center;
            font-size: small;
            .titulo{
                font-family: $fonttitulo;
            }
        }
        .contenedorGaleria {
            display: map-get($map: $flexelements, $key: flex);
            flex-wrap: wrap;
            justify-content: map-get($map: $flexelements, $key: space-evenly);
            margin-bottom: 15%;
            .ImgTatu {
                @include sizes (400px, 400px);
                margin-top: 5%;
                border: 1px black solid;
                border-radius: 20px;
            }
        }

        .cardCuidados {
            margin-bottom: 2%;

            .cardCuidados__parrafo {
                display: map-get($map: $flexelements, $key: flex);
                flex-direction: map-get($map: $flexelements, $key: column);
                align-items: center;
                @include sizes (70%, fit-content);
                text-align: center;
                .titulo{
                    font-family: $fonttitulo;
                }
                .parrafo{
                    font-family: $fonttextos;
                    font-size: xx-large;
                }
            }
        }
        
        .listaItemolDos {
            display: map-get($map: $flexelements, $key: flex);
            flex-direction: map-get($map: $flexelements, $key: column);
            width: 90%;
            margin-bottom: 15%;
            .listaItemliDos{
                font-family: $fonttextos;
                font-size: x-large;
                margin-top: 2%;
            margin-bottom: 2%;
            }
        }

        .nohacerTitulo {
            display: map-get($map: $flexelements, $key: flex);
            justify-content: center;
            font-family: $fonttitulo;
        }

        .nohacer {
            @extend .cardCuidados__parrafo;
            width: 100%;
            margin-bottom: 15%;
            .listaItem {
                display: map-get($map: $flexelements, $key: flex);
                flex-direction: map-get($map: $flexelements, $key: row);
                width: 100%;
                justify-content: map-get($map: $flexelements, $key: space-evenly);
                font-size: x-large;
            }
        }

        .contenedorGaleriados {
            @extend .contenedorGaleria;
            .imgTatudos {
                @include sizes (300px, 300px);
                border: 1px black solid;
                border-radius: 20px;
                margin-top: 5%;
            }
        }

        .boxVideo {
            text-align: center;
            .videoParrafo {
                display: map-get($map: $flexelements, $key: flex);
                flex-direction: map-get($map: $flexelements, $key: column);
                align-items: center;
                @include sizes (50%, fit-content);
                text-align: center;
                font-family: $fonttitulo;
                font-size: x-large;
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 768px){
    body {
        font-family: 'Castoro Titling', cursive;
        font-family: 'Source Serif Pro', serif;
        background-color: $backgroundcolor;
        .mainTatuajes {
            width: 100vw;
            overflow-x: hidden;
            .titulos__tamaño {
                @include sizes (300px, 300px);
                margin-bottom: 30%;
            }
    
            .contenedorGaleria {
                display: map-get($map: $flexelements, $key: flex);
                flex-wrap: wrap;
                justify-content: map-get($map: $flexelements, $key: space-evenly);
                margin-bottom: 30%;
                .ImgTatu {
                    @include sizes (250px, 250px);
                    margin-top: 5%;
                    border: 1px black solid;
                    border-radius: 20px;
                }
            }
    
            .cardCuidados {
                width: 95%;
                margin-bottom: 2%;
    
                .cardCuidados__parrafo {
                    width: 95%;
                    display: map-get($map: $flexelements, $key: flex);
                    flex-direction: map-get($map: $flexelements, $key: column);
                    align-items: center;
                    text-align: center;
                    .titulo{
                        font-family: $fonttitulo;
                    }
                    .parrafo{
                        font-family: $fonttextos;
                        font-size: x-large;
                    }
                }
            }
            .sectionNohacer{
                width: 99%;
                padding: 0%;
                margin: 0%;
                margin-top: 30%;
                margin-bottom: 30%;
                    .nohacerTitulo{
                        margin: 0%;
                        font-family: $fonttitulo;
                    }

            }
            .listaItemolDos {
                padding: 0%;
                display: map-get($map: $flexelements, $key: flex);
                flex-direction: map-get($map: $flexelements, $key: column);
                width: 95%;
                align-items: center;
                .listaItemliDos{
                    align-items: center;
                    font-family: $fonttextos;
                    font-size: x-large;
                    margin-top: 2%;
                    margin-bottom: 2%;
                }
            }
            
            .contenedorGaleriados {
                display: map-get($map: $flexelements, $key: flex);
                flex-wrap: wrap;
                justify-content: map-get($map: $flexelements, $key: space-evenly);
    
                .imgTatudos {
                    @include sizes (300px, 300px);
                    border: 1px black solid;
                    border-radius: 20px;
                    margin-top: 5%;
                }
            }
    
            .boxVideo {
                text-align: center;
                margin-top: 5%;
                .videoParrafo {
                    display: map-get($map: $flexelements, $key: flex);
                    flex-direction: map-get($map: $flexelements, $key: column);
                    align-items: center;
                    @include sizes (95%, fit-content);
                    text-align: center;
                    font-family: $fonttitulo;
                    font-size: x-large;
                    margin-top: 15%;
                }
            }
        }
    }
}