body {
    
    .mainTatuajes {
        font-family: $font;
        background-color: $backgroundtatuajes;

        .titulos__tamaño {
            @include sizes (600px,600px);
        }

        .contenedorGaleria {
            display: map-get($map: $flexelements, $key: flex);
            flex-wrap: wrap;
            justify-content: map-get($map: $flexelements, $key: space-evenly);

            .ImgTatu {
                @include sizes (300px,300px);
                margin-top: 5%;
            }
        }

        .cardCuidados {
            margin-top: 15%;
            margin-bottom: 2%;

            .cardCuidados__parrafo {
                display: map-get($map: $flexelements, $key: flex);
                flex-direction: map-get($map: $flexelements, $key: column);
                align-items: center;
                @include sizes (50%,fit-content);
                text-align: center;
            }
        }

        .listaItem {
            background-color: $backgroundtatuajes;
        }
        .nohacerTitulo{
            display: map-get($map: $flexelements, $key: flex);
            justify-content: center;
            margin-top: 10%
        }
        .nohacer {
            @extend .cardCuidados__parrafo;
            width: 100%;
            background-image: url(../assets/img/hghghghg.jpeg);

            .listaItem {
                background-color: $backgroundtatuajes;
            }
        }

        .boxVideo {
            text-align: center;
            margin-top: 5%;

            .videoParrafo {
                display: map-get($map: $flexelements, $key: flex);
                flex-direction: map-get($map: $flexelements, $key: column);
                align-items: center;
                @include sizes (50%,fit-content);
                text-align: center;
                font-size: large;
                margin-top: 15%;
            }
        }
    }
}