$colorsecundario: rgb(243, 198, 206);
$backgroundcolor: white;
$coloricon: #766e6e;
$coloricondos: #367240;

$font: 'Castoro Titling', cursive;

$flexelements:(
    flex:flex,
    row: row,
    column: column,
    space-around: space-around,
    space-evenly: space-evenly,
    space-between: space-between,
)
